@-moz-document url("about:newtab"), url("about:home") 
{
  body  {
          opacity: 0.5 !important; 
          font-family:Hack !important;
          background-color: #cceeee !important;
          background-image: none !important;
        }
  .logo
  {
    background-image: none !important;
  }

  .wordmark 
  {
    background-image:none !important;
  }

  .search-handoff-button
  {
    background-color:#90d8c9 !important;
  }   
}
