#nav-bar
{ 
  background: #ccffff !important;
}

#main-window
{
  background: #ccffff !important;
}

#TabsToolbar
{
  background: #ccffff !important;
}

.tab-background[selected="true"] 
{
  background-color: #cceeee !important;
  background-image: none !important;
}

#urlbar-background {
  background: #cceeee !important;
}

#navigator-toolbox
{
  background: #ccccff !important;
  font-family:Hack !important;
  font-size: 12px !important;
}






